body {
    font-family: 'Roboto', sans-serif;
}

/* #########        HEADER       ############# */

/* LOGO */
#img-logo{
    margin-top: 10px;
}
.nav-pills{
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-pills li a{
    color:black;
}

/* couleur hover */
.nav-pills li  a:hover {
    background-color:#cecfd0;
}

/* enlever le border radius par default*/
.nav-pills > li > a {
    border-radius: 0px;
    border-left: 1px solid#000000;
}

/* Le li active (recherche) */
.nav-pills li.active a{
    color: #000000;
    background-color: #ffffff;
}

/* Hover du li active (recherche) */
.nav-pills li.active a:hover{
    background-color: #cecfd0;
    color:#000000
}

/* BARRE DE RECHERCHE */
input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 14px;
    background-color: white;
    background-image: url('../images/ico_loupe.png');
    background-size: 22px 22px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 10px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
    background-color: #cecfd0;
}
/* Barre recherche */
#search-form{
    float:left;
}

/* ICONE PANIER */
#ico-panier{
    margin-right: 10px;
}

/* Menu principale */
.navbar-default{
     top:0;
}

/* menu principale */
.navbar-collapse{
   background-color: #f03437;
   color:#ffffff;
}

/*menu principale */
.navbar-collapse a{
   background-color: #f03437;
}

/*menu principale */
.navbar-default .navbar-nav li a{
    color:#ffffff;
    text-transform: uppercase;
}



/* ############################       MAIN      ####################################*/

/*  ******** SECTION EVENEMENT ***** */
.h3-event{
    text-transform: uppercase;
    font-size: 15px;
}

.titre-evenement{
    font-size: 20px;
}


.h3-event-a-venir{
     text-transform: uppercase;
    font-size: 15px;
}

.titre-event-a-venir{
    font-size: 25px;
}
.desc-event-a-venir{
    font-size: 15px;
}

.bloc-evenement-a-venir{
    /*background-color: #000000;
    color:#ffffff;*/
}