body {
    font-family: 'Roboto', sans-serif;
}

/* #########        HEADER       ############# */

/* LOGO */
#img-logo{
    margin-top: 10px;
}
.nav-pills{
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-pills li a{
    color:black;
}

/* couleur hover */
.nav-pills li  a:hover {
    background-color:#cecfd0;
}

/* enlever le border radius par default*/
.nav-pills > li > a {
    border-radius: 0px;
    border-left: 1px solid#000000;
}
/* Menu Secondaire */
ul nav .nav-pills .pull-right {
    background-color:#ffffff;

}
/* Le li active (recherche) */
.nav-pills li.active a{
    color: #000000;
    background-color: #ffffff;
}
ul nav .nav-pills .pull-right:hover {
    background-color:#f03437;

    
}
/* Hover du li active (recherche) */
.nav-pills li.active a:hover{
    background-color: #f03437;
    color:#000000;
}



/* BARRE DE RECHERCHE */
.recherche {
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 14px;
    background-color: white;
    background-image: url('../images/ico_loupe.png');
    background-size: 22px 22px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 10px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .nav-pills li a {
        display:none;
    }
    .recherche {
      display:none;
  }
    .logo {
        text-align:center;
    }
}
li#text-3 {
    list-style:none;
}
/* menu */

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
    background-color: #cecfd0;
}
/* Barre recherche */
#search-form{
    float:left;
}

/* ICONE PANIER */
#ico-panier{
    margin-right: 10px;
}

/* Menu principale */
.navbar-default{
     top:0;
     
}

/* menu principale */
.navbar-collapse{
   background-color: #f03437;
   color:#ffffff;
}

/*menu principale */
.navbar-collapse a{
   background-color: #f03437;
}
nav.navbar.navbar-default{
    position:relative;
    z-index:1000;
    margin-top:15px;
}
/*menu principale */
.navbar-default .navbar-nav li a{
    color:#ffffff;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a {
    background-color:#455560;
    position:relative;

}
.navbar-default .navbar-nav > .active > a {
    background-image:-webkit-linear-gradient(top, #455560 0%, #455560 100%);
    color:#ffffff;
}

.navbar-default .navbar-nav li a:hover{
    color:#ffffff;
    background-color: #455560;
    }
.navbar-default .navbar-nav li.active {
    background-color:#455560;
}
/* ############################       MAIN      ####################################*/

/* titre de la page */
.h2-titre-page{
    font-size: 25px;
    color:#455560;
    text-transform: uppercase;
}
/*  ******** SECTION EVENEMENT ***** */
.h3-event{
    text-transform: uppercase;
    font-size: 15px;
}

.titre-evenement{
    font-size: 20px;
}


.h3-event-a-venir{
     text-transform: uppercase;
    font-size: 15px;
}

.titre-event-a-venir{
    font-size: 25px;
}
.desc-event-a-venir{
    font-size: 15px;
}
/*#####################   PAGE ACCUEIL   ***************/

/* titre article */
.h2-article-accueil{
    color:#ffffff;
}
.article-recent{
    background-color: #455560;
    border-style: solid;
    border-width: 5px;
    border-color: #455560;
}

.h2-event-accueil{
    color:#ffffff;
}

.event-recent{
    background-color: #f03437;
        border-style: solid;
    border-width: 5px;
    border-color: #f03437;
}
.caption{
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
  
}
.caption h3{
    font-weight: 300;
     font-size: 16px;
     line-height: 180%;
}
.caption a{
    text-decoration: none;
    color:#ffffff;
}
.caption a:hover{
    color:#f03437;

}

/* CAPTION 2  */
.caption2 a:hover{
     color:#000000;
}
.caption2 a{
    text-decoration: none;
    color:#ffffff;
}
.caption2{
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
}
.caption h3 h4{
    font-weight: 300;
     line-height: 180%;
}
/*#####################    FOOTER  ***************/

.footer-bloc{
    background-color: #455560;

}
.footer-contact-h2{
    font-size: 30px;
}

.h3-reseauxsociaux{
    text-transform: uppercase;
    color:#ffffff;
}
.bloc-info-footer{
    color:#ffffff;
    padding-left: 10px;
}
.h3-infolettre{
    color:#ffffff;
    font-size: 30px;
}
.label-courriel{
    color:#ffffff;
    font-family: 'Roboto', sans-serif;

}

.barre-footer {
    background-color:black;
    padding: 10px;
    margin:0 auto;
}

.h3-barre-noir{
    color:#ffffff;
    font-weight: 300;
    font-size: 15px;
}

/* INPUT DU EMAIL infolettre */ 
input[type=email] {
    font-family: 'Roboto', sans-serif;
    background-color:white;
    width:250px;
    height: 50px;
    color:black;

}


/* ############### CONTACT ############# */ 

/* form contact */
input[type=text]{
    width: 150px;

    border: 1px solid #000000;
    font-size: 14px;
    background-color: white;


    padding: 12px 10px 10px 40px;
    font-weight: 700;
    text-transform: uppercase;
}

input[type=email]{
    text-align: center;
    border: 1px solid #000000;
    font-size: 14px;
    background-color: white;

    padding: 12px 10px 10px 40px;
    font-weight: 700;
    text-transform: uppercase;
}
input#courriel{
    text-align: center;
    margin-left: 60px;
}
/* map */ 

/*####################  CALL TO ACTION DEVENIR MEMBRE HOME ######### */ 

.cta-membre{
    background-color: #f03437;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#ffffff;
}

.h2-devenirmembre{
    padding-top:10px;
}
.btn-default {
   margin-bottom: 10px;
}
#courriel {
    text-align:center;
    margin-left:90px;
}
@media (max-width: 768px) {
    #courriel {
        margin-left:5px;
    }
}

